<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC NEWS</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />

</head>
<body>
    <section>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Breaking News</a>
          
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">BBC News</a>
              </li>
          
              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  News Sources
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">BBC News</a>
                    <a class="dropdown-item" href="/cnn">CNN News</a>
                    <a class="dropdown-item" href="/abc">ABC News</a>
                    <a class="dropdown-item" href="/bloomberg">Bloomberg</a>
                    <a class="dropdown-item" href="/cbc">CBC News</a>
                    <a class="dropdown-item" href="/foxnews">Fox News</a>
                    <a class="dropdown-item" href="/foxsports">Fox Sports</a>
                    <a class="dropdown-item" href="/google">Google News</a>
                    <a class="dropdown-item" href="/tech">Tech Crunch</a>
                  </div>
              </li>
            </ul>
          </nav>
      
    </section>
        <section>
            <div>
                <div class = "head2"><strong> TODAY'S TOP HEADLINES</strong></div>
                {% for cnn_title,cnn_descriptions,cnn_image,cnn_publication_date,cnn_news_url in ccontents %}
                <div>
                    <div><h2>{{cnn_title}}</h2></a></div>
                    <div><a href="{{cnn_news_url}}"><img src="{{cnn_image}}"></a></div>
                    <div class="content"><p>{{cnn_descriptions}}</p></div>
                    <div class="content"><p>Publication date:-</p><p> {{cnn_publication_date}} </p></div>
                    <!-- <div>Published by: <p>"{{cnn_author}}"</p></div> -->
                </div> 
                {% endfor %}
            </div>
        </section>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

</body>
</html>