<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOX NEWS</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />

</head>
<body>
    <section>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">BBC News</a>
              </li>
          
              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  News Sources
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">BBC News</a>
                    <a class="dropdown-item" href="/cnn">CNN News</a>
                    <a class="dropdown-item" href="/abc">ABC News</a>
                    <a class="dropdown-item" href="/bloomberg">Bloomberg</a>
                    <a class="dropdown-item" href="/cbcnews">CBC News</a>
                    <a class="dropdown-item" href="/foxnews">Fox News</a>
                  </div>
              </li>
            </ul>
          </nav>
      
    </section>
        <section>
            <div class="wrapper">
                <div class = "head2"><strong> TODAY'S TOP HEADLINES</strong></div>
                {% for fox_title,fox_descriptions,fox_image,fox_publication_date,fox_news_url in foxhighlights %}
                <div>
                    <div><h2  class="content" style="color: rgb(0, 0, 0);font-size: 25px;font-weight: bold;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{fox_title}}</h2></a></div>
                    <div><a href="{{fox_news_url}}"><img src="{{fox_image}}"  style="height: 60%;width: 60%; border-radius: 20px; box-shadow: 10px 10px 10px rgba(37, 1, 1, 0.4); padding: 0.5px;"></a></div>
                    <div class="content"><p style="color: rgb(8, 8, 8);font-size: 15px;font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{fox_descriptions}}</p></div>
                    <div class="content"><p style="color:rgb(18, 19, 17);">Publication date:-</p><p> {{fox_publication_date}} </p></div>
                    <!-- <div>Published by: <p>"{{cnn_author}}"</p></div> -->
                </div> 
                {% endfor %}
            </div>
        </section>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

</body>
</html>